@import url("reset.css");

html {
	padding: 0;
	margin: 0;
}

body {
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.6;
	background-color: #f9f9f9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	line-height: 1;
	text-transform: uppercase;
	margin: 0 0 1.6rem;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.6;
	margin: 0 0 1.6rem;
}

a {
	color: #0056b3;
	border-bottom: 2px solid transparent;
	transition: all 0.5s ease-in-out;
}

a:hover {
	color: #002348;
	border-bottom: 2px solid #002348;
}

hr {
	margin: 3.2rem 1.6rem;
	color: #555555;
	border-color: #555555;
}

.module {
	margin: 1.6rem 0 1.6rem;
}

.module:nth-child(1) {
	margin: 0 0 1.6rem;
}

.container {
	padding: 0;
	margin: 0 auto;
	width: 100%;
	max-width: 1000px;
}

.header {
	background-color: #64bcda;
	border-bottom: 8px solid #000000;
	margin-bottom: 3.2rem;
}

.header_logo {
	padding: 1.6rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header_logo img {
	width: 100%;
	max-width: 420px;
}

.header_pub-info {
	margin: 0 0 1.6rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
}

.main-article {
	background-color: #e2e2e2;
	padding: 1.6rem;
	width: 100%;
	margin: 0 0 1.6rem;
}

.main-article_cover {
	margin: 0 0 1.6rem;
}

.main-article_cover .caption {
	color: #666666;
	font-size: 0.8rem;
	font-style: italic;
	line-height: 1;
}

.main-article_content h1 {
	font-size: 2rem;
}

.main-article_byline {
	margin: 0 0 1.6rem;
}

.main-sidebar {
	width: 100%;
	padding: 1.6rem;
	background-color: #323232;
	color: #f2f2f2;
	margin: 0 0 1.6rem;
	font-size: 0.9rem;
}

.main-sidebar_thumb {
	margin: 0 0 0.8rem;
}

.main-sidebar_thumb .caption {
	color: #f2f2f2;
	font-size: 0.8rem;
	font-style: italic;
	line-height: 1;
}

.main-sidebar li {
	margin: 0 0 1.6rem;
}

.main-sidebar_byline {
	margin: 0 0 1.6rem;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

.main-sidebar_byline .byline_date {
	display: none;
}

.main-sidebar_byline .byline_name {
	display: block;
}

.footer {
	text-align: center;
}

@media (min-width: 800px) {
	.header_pub-info {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.main-article {
		width: 60%;
		border-radius: 0.6rem;
		margin: 0;
	}

	.main-sidebar {
		width: 40%;
		border-radius: 0.6rem;
		margin: 0;
	}
}
